*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Play:wght@400;700&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.logo {
    max-width: 220px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 3.75rem;
    font-weight: 900;
}
.btn{
    color: #FFFFFF;
    padding: 12px 16px;
    gap: 4px;
    border-radius: 30px;
}
.lg{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}
.font1{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    opacity: 60%;
}
.font2{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 800;
}
.font3{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;

}
/* main style */
/* navbar style */
.navbar{
    max-width: 1600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 100px;
    color: #FFFFFF;
    background-color: #1A0B2E;
}
.navbar ul{
    max-width: 220px;
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    opacity: 90%;
}
.navbar span{
    background-clip: text;
    color: transparent;
}
.navbar img{
    display: none;
}
/* bnner style */
.banner{
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner .b{
    max-width: 550px;
    background: transparent;
}

.banner .b-img{
    display: flex;
    background: transparent;
    max-width: 350px;
    max-height: 350px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0px 100px 40px 100px;
}
.b-img .b-img1{
    background: transparent;
}
@keyframes ani {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.b-img .b-img2{
    position: absolute;
    background: transparent;
    animation: ani 2s infinite alternate;
}
.b-img .b-img3{
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #00FF88;
    position: absolute;
    top: 10px;
    left: 250px;
}
.b-text{
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.b-text h1, h4{
    background: transparent;
}
.b-text h4{
    padding: 8px 0px 25px 0px;
}
.banner-btn{
    padding: 0px 80px;
}
.b-btn1{
    font-size: 20px;
    font-weight: 600;
}
.b-btn2{
    color: #00FF88;
    border: 1px solid #00FF88;
    font-size: 16px;
    font-weight: 600;
    background: transparent;

}

/* about section */
.about{
    padding: 50px 200px 120px 200px;
    max-width: 1200px;
    background-color: #1A0B2E;
}

.about .about-text{
    text-align: center;
    padding-bottom: 80px;
}
.about .about-statistics{
    display: flex;
    justify-content: space-around;
    gap: 80px;
}
.about-statistics h2{
    color: #00FF88;
    padding-bottom: 10px;
}

/* choose section */
.choose{
    max-width: 1200px;
    text-align: center;
    padding: 120px 200px;
    background-color: #230E3D;
}
.choose h1{
    background: transparent;
    padding: 40px;
}
.box1{
    grid-area: box1;
}
.box2{
    grid-area: box2;
}
.box3{
    grid-area: box3;
}
.box4{
    grid-area: box4;
}
.box5{
    grid-area: box5;
}
.choose .boxs{
    display: grid;
    grid-template-areas: 
    "box1 box2 box2"
    "box1 box3 box3"
    "box4 box4 box5";
    gap: 30px;
}
.boxs img, h3{
    background: transparent;
    padding-bottom: 16px;
}
.box1, .box2, .box3, .box4, .box5{
    border-radius: 20px;
    background-color: #704ba05a;
    box-shadow: 5px 5px 10px #00000048;
    padding: 40px;
    text-align: start;
}

/* Featured Episodes section    */
.episode{
    max-width: 1200px;
    padding: 120px 200px;
    background-color: #1A0B2E;
}
.episode-f{
    padding-bottom: 120px;
}
.episode-title{
    text-align: center;
}
.episode-f h2{
    padding-bottom: 40px;
}
.episode-cards{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.episode .card{
    max-width: 300px;
    border-radius: 90px;
    
}
.episode .card-text{
    padding: 10px;
    background-color: #9100F8;
}
.episode .card h2, h4{
    padding-bottom: 12px;
    background: transparent;
}

.host-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #704ba05a;
    border-radius: 30px;
    gap: 25px;
    padding: 40px;

}
.host h1{
    text-align: center;
    padding-bottom: 40px;
}
.host-card h4{
    padding: 16px 0px;
}
.host-social{
    display: flex;
    gap: 15px;
}

footer{
    background: url(../assets/footer-bg.png);
    padding: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .ft{
    margin: 0px auto;
    text-align: center;
}
.social{
    display: flex;
    /* justify-content: center; */
    
    padding: 32px 0px;
    gap: 40px;
}
.footer-logo{
    max-width: 220px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 3.75rem;
    font-weight: 900;
    margin: opx auto;
}
.social img{
    padding: 0px 6px;
}
.footer-logo span{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}

@media screen and (max-width: 976px) {
    .navbar ul, button{
        display: none;
    }
    .navbar img{
        display: flex;
    }
    .about .about-statistics{
        color: #00FF88;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .choose .boxs{
    display: grid;
    grid-template-areas: 
    "box1"
    "box2"
    "box3"
    "box4"
    "box5";
    gap: 30px;
}
    .episode-cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 30px;
    }
    .episode-title{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .host-card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}